## Settings file was created by plugin Riverheim v1.2.1
## Plugin GUID: dev.gurebu.riverheim.stable

[Performance]

## Whether world generation should compute across multiple threads in parallel. Disabling this makes generation slower but easier to debug.
# Setting type: Boolean
# Default value: true
Parallel generation = true

## Significantly increases memory usage to cache generation intermediates. Doesn't speed up generation unless you're using another mod to reload
# Setting type: Boolean
# Default value: false
Pipeline caching = false

